@import "normalize.css";
:root {
  --header-color: #415a80;
  --hover-header-color: darkgrey;
  --card-color: #a5d4dc;
  --watch-btn-color: #dca5c1;
  --accept-btn-color: #dcd4a5;
  --reject-btn-color: #c1dca5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
